body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

i.fab.fa-github {
    color: black;
}

i.fab.fa-linkedin {
    color: #0077b5;
}

i.fas.fa-envelope {
    color: #D44638;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-decoration: none; 
    color: inherit;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

section {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

.project {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 8px;
}

i {
    margin-right: 8px;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #f4f4f4;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 2rem; 
    flex-wrap: wrap; 
}

.profile-photo {
    width: 150px;
    height: 150px;
    object-fit: cover; /* remplit le cadre en gardant les proportions */
    border-radius: 50%; /* rend la photo ronde */
    border: 2px solid #333; /* contour facultatif */
}